body {
  background-color: gold;
  font-family: Helvetica, sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 400px;

}

h1 {
  font-family: "times new roman", times, serif;
  text-align:center;
  color:blue;
}
